.wave-bg {
    background: linear-gradient(0deg, rgba(170, 223, 243, 0.991) 0%, rgb(55, 34, 190) 100%);
    clip-path: polygon(0% 0%, 100% 0, 100% 69%, 89% 62%, 80% 57%, 69% 57%, 58% 62%, 49% 68%, 33% 70%, 21% 66%, 10% 62%, 0 57%);
}
.wave-bg-3 {
    background-image: url('https://ibb.co/9hvwcTL');
    background-size: cover;
    background-position: center;
}

.wave-bg-2 {
    background: linear-gradient(0deg, rgb(169, 203, 237) 0%, rgb(106, 138, 201) 100%);
    clip-path: polygon(0% 0%, 100% 0, 100% 69%, 85% 65%, 77% 64%, 70% 64%, 60% 70%, 46% 74%, 31% 73%, 21% 66%, 10% 62%, 0 57%);
}

.profile-image {
    transition: transform 0.3s ease-in-out;
}

.profile-image:hover {
    transform: scale(1.1);
}

.redes-sociales {
    transition: transform 0.3s ease-in-out;
}

.redes-sociales:hover {
    transform: scale(1.4);
}
